body {
  margin: 0;
  text-align: center;
}

h1 {
  color: #66bfbf;
  font-family: 'Great Vibes', cursive;
  margin: 0;
  padding-top: 80px;
  font-size: 3.625rem;
}

h2 {
  color: #66bfbf;
  font-family: 'Lobster Two', cursive;
  font-size: 2.5rem;
}

h3 {
  color: #11999E;
  font-weight: 3;
}

/*p{
  width: 450px;

  margin: auto;
  color: #40514E;
  font-size: 1.3rem;
}*/
hr {
  border: dotted;
  width: 10px;
  MARGIN: 80PX AUTO;
  color: black;
  border-bottom: none;
}

.my-skills {
  margin-bottom: 50px;
}

.Top-container {
  margin: 0;
  position: relative;
  background-color: #EAF6F6;
}

.skills-top {
  text-align: left;
  line-height: 2;
}

.skills-bottom {
  text-align: left;
  line-height: 2;
}

.Top-cloud {
  position: absolute;
  height: 250px;
  width: 250px;
  right: 80px;
  top: 0px;
}

.Bottom-cloud {
  height: 250px;
  width: 250px;
  position: absolute;
  left: 80px;
  top: 0px;
}

.Tower-bottom {
  height: 250px;
  width: 250px;
}

.Middle-container {
  background-color: white;
  margin: auto;
  position: relative;
  width: 600px;
}

.my-picture {
  height: 200px;
  width: 200px;
  border-radius: 200px;
}

.Bottom-container {
  background-color: #66BFBF;
  margin: 0;
}

.para {
  margin: 30px auto;
  color: white;
  font-size: 1.56rem
}

.pro {
  text-decoration: underline;
}

.my-picture {
  margin-top: 50px;
}

.heading-2 {
  margin: 20px auto 50px auto;
}

.about {
  margin-bottom: 50px;
}

.bike {
  border-radius: 130px;
  height: 150px;
  width: 150px;
  float: left;
  margin-right: 70px;
}

.red-chilli {
  height: 150px;
  width: 150px;
  float: right;
  border-radius: 130px;
  margin-left: 70px;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 100;
  padding: 8px;
  border: solid #337FED 0px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #30E3CB 0px;
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-decoration: none;
}

.contact-me {
  padding: 50PX;
}

.Bottom-container {
  padding: 20px;
}

a {
  margin: 20px 50px 20px 50px;
  font-size: 1.5rem;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}
